.wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.007);
    box-sizing: border-box;
    padding: 10px;
}

.wrapper:hover {
    background: rgba(0, 0, 0, 0.18);
}

.bezier-wrapper {
    /* width: 100%;
    height: 100%; */
    background: #ffffff7a;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {

}
  
  /* Medium (tablets) */
@media only screen and (min-width:600px) and (max-width: 992px) {

}
  
/* large devices (laptops) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* Extra Large devices (desktops) */
@media only screen and (min-width: 1200px) {
}